@model IEnumerable<SpaceShoes.Models.Iletisim>

@{
    Layout = null;
}

<style>
    #wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 9999;
    }

    #message-sent {
        width: 340px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -170px;
        font-weight: 600;
        border-radius: 0 16px;
        color: #191970;
        background: white;
        box-shadow: 0 0 20px 4px #0d6636;
    }

    #close-button {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        position: absolute;
        top: -8px;
        right: -8px;
        background: white;
        border-radius: 0 8px;
        border: 1px solid #0d6636;
        cursor: pointer;
        font-weight: 600;
    }
</style>


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>SpaceShoes</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//for-mobile-apps -->
    <!--Custom Theme files -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//Custom Theme files -->
    <!--js-->
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <script src="/Content/js/modernizr.custom.js"></script>
    <!--//js-->
    <!--cart-->
    <script src="/Content/js/simpleCart.min.js"></script>
    <!--cart-->
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
    <!--web-fonts-->
    <!--animation-effect-->
    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <script src="/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//animation-effect-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <style>
        .mainmenubtn {
            background-color: red;
            color: white;
            border: none;
            cursor: pointer;
            padding: 20px;
            margin-top: 20px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-child {
            display: none;
            background-color: whitesmoke;
            min-width: 200px;
        }

            .dropdown-child a {
                color: black;
                padding: 15px;
                text-decoration: none;
                display: block;
            }

        .dropdown:hover .dropdown-child {
            display: block;
        }

        .b {
            border-radius: 10px 10px 10px 10px;
            padding: 0px 85px;
        }
        .s{
            margin-top:50px;
        }
    </style>
    <!--//end-smooth-scrolling-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/contact-form-template/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="top-header navbar navbar-default">
            <!--header-one-->
            <div class="container">
               <div class="nav navbar-nav navbar-right header-two-right">
                    <div class="header-right my-account">
                        @{
                        if (Session["KisiId"] != null)
                        {
                            if (Convert.ToInt32(Session["RolId"]) == 1)
                            {
                                <p>
                                    <font size="2">
                                        <div class="dropdown">
                                            <img src="~/Content/images/icons8-customer-64.png" /><b>Hoşgeldiniz</b>
                                            <div class="dropdown-child">
                                                <a href="/Admin/Index"><b>Admin Paneli</b></a>
                                                <a href="/Giris/Cikis"><b>Çıkış Yap</b></a>
                                            </div>

                                        </div>
                                    </font>
                                </p>
                        }

                        else
                        {
                            <p>
                                <font size="3">

                                    <div class="dropdown">
                                        <img src="~/Content/images/icons8-customer-64.png" /><b>Hoşgeldiniz,</b>@Session["KisiAdi"].ToString()
                                        <div class="dropdown-child">
                                            <a href="/Kisilers/Hesap"><b>Hesabım</b></a>
                                            <a href="/Kisilers/favori"><b>Favorilerim</b></a>
                                            <a href="/Giris/Cikis"><b>Çıkış Yap</b></a>
                                        </div>

                                    </div>
                                </font>
                            </p>

                    }


                }
                else
                {


                    <p><font size="3"><a href="/Kisilers/GirisYap"><img src="~/Content/images/icons8-customer-64.png" /><b>Giriş</b></a></font></p>
            }
                        }
                        <!-- <p><font size="2"> <a href="/Kisilers/Create"><img src="~/Content/images/icons8-customer-64.png" /><b>Giriş Yap</b> </a></font></p>  -->
                    </div>
                    <div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
                        @{
                        if (Session["KisiId"] != null)
                        {
                            <p><font size="2"> <a href="/Kisilers/sepet"><img src="~/Content/images/icons8-add-shopping-cart-64.png" /><b>Sepetim</b> </a></font></p>
                    }
                    if (Session["KisiId"] == null)
                    {
                        <p><font size="2"> <a href="/Kisilers/Ziyaretsepet"><img src="~/Content/images/icons8-add-shopping-cart-64.png" /><b>Sepetim</b> </a></font></p>
                }
                        }
                    </div>
                    <div class="clearfix"> </div>
              
                </div>
            </div>
        </div>
    </div>

    <div class="top-nav navbar navbar-default">
        <!--header-three-->
        <div class="container">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--navbar-header-->
              
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                    <!--//navbar-collapse-->
                 
        </div>
    </div>
    </div>
    <!--//header-->
    <!--breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li class="active"><a href="/">Ana Sayfa</a> / İletişim</li>
            </ol>
        </div>
    </div>
    <!--//breadcrumbs-->
    <!--contact-->

    <section id="hire">
        <h1>İLETİŞİM</h1>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contact-form", action = "/Iletisims/Index" }))
        {
            if (ViewBag.Success != null && ViewBag.Success)
            {
                <div id="wrapper">
                    <div id="message-sent">
                        <div id="close-button">
                            <span>X</span>
                        </div>
                        <span>Mesajınız başarıyla gönderilmiştir.</span>
                    </div>
                </div>
            }
            <div class="field name-box">
                <input type="text" id="name" name="Ad"
                       placeholder="Adınız.." />
                <label for="name">AD</label>
                <span class="ss-icon">check</span>
            </div>
            <div class="field name-box">
                <input type="text" id="soyad" name="Soyad"
                       placeholder="Soyadınız.." />
                <label for="name">SOYAD</label>
                <span class="ss-icon">check</span>
            </div>
            <div class="field number-box">
                <input type="text" id="phone number" name="Tel"
                       placeholder="05---------" />
                <label for="number">TEL NO</label>
                <span class="ss-icon">check</span>
            </div>
            <div class="field email-box">
                <input type="text" id="email" name="Eposta" placeholder="adsoyad@email.com" />
                <label for="email">Email</label>
                <span class="ss-icon">check</span>
            </div>

            <div class="field msg-box">
                <textarea id="msg" rows="4" name="Mesaj" placeholder="Mesajınızı yazınız..."></textarea>
                <label for="msg">MESAJ </label>
                <span class="ss-icon">check</span>

            </div>

            <button type="submit" class="contact-button" onclick="formEksikMi()">
                <span class="s">GÖNDER</span>
            </button>
        }
    </section>


    <script>
        $(document).ready(function () {
            $(".obligation-button").click(function () {
                $(".contact-line-unrequired").slideToggle();
            });
        });

        function formEksikMi() {
            var nameDegeri = document.getElementById("name").value;
            var soyadDegeri = document.getElementById("soyad").value;
            var telDegeri = document.getElementById("phone number").value;
            var mailDegeri = document.getElementById("email").value;
            var iletiDegeri = document.getElementById("msg").value;
            if (namaDegeri === "" || soyadDegeri === "" || telDegeri === "" || mailDegeri === "" || iletiDegeri === "") {
                alert("Lütfen gerekli alanlari doldurunuz.");
                return false;
            }
        }
    </script>
    <script>
        $('#wrapper').click(function () {
            $(this).fadeOut('slow');
        });
    </script>
    <!--//contact-->
    <!--footer-->
    <div class="footer">
        <div class="container">

        </div>
    </div>
    <!--//footer-->
    <!--search jQuery-->
    <script src="/contact-form-template/js/index.js"></script>

    <script src="/js/main.js"></script>
    <!--//search jQuery-->
    <!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!--//smooth-scrolling-of-move-up-->
    <!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>
